<div id="map-point-form">
  <h3>Location</h3>
  <div><label for="name">Name: </label>
    <input type="text" id="name" name="name" [(ngModel)]="mapPoint.name"/>
  </div>
  <div><label for="longitude">Longitude: </label>
    <input type="text" id="longitude" name="longitude" disabled="true" [ngModel]="mapPoint.longitude"/>
  </div>
  <div><label for="latitude">Latitude: </label>
    <input type="text" id="latitude" name="latitude" disabled="true" [ngModel]="mapPoint.latitude"/>
  </div>
</div>
