<div id="results-list">
  <h3>Sensor Data</h3>
  <div id="results">
    <ul>
      <li *ngFor="let result of results" (click)="selectResult(result)">
        {{ result.displayName }}
      </li>
    </ul>
  </div>
</div>
